
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "node_modules/font-awesome/scss/font-awesome.scss";

// .navbar-laravel {
//   background-color: #fff;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
// }

$maingeen: #eaffef;
body{
  background-color: #fff;
}

.navbar__bluecolor{
  background: #254d8c;
}

.new-flex-m{
  width: 100%;
  justify-content: flex-end;
  a{
    text-transform: uppercase;
  }
}


.logo-area{
  display: flex;
  align-items: center;
  flex-direction: row;
}

.logo-area__first{
  padding-right: 10px;
  
}

.logo-area__second{
  border-left: 1px solid #fff;
  width: 100%;
  padding-left: 10px;
  color: rgb(255, 255, 255); font-weight: bold;
  font-size: 13px;
  line-height: 1;
  min-width: 180px;
  span{
    color: #9e9e9e;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 0.8;
    font-weight: normal;
  }
}

.delim{
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
  align-self: center;
  font-size: 16px;
}

@include media-breakpoint-down(md) {
  .display-mobile{
    display: none;
  }
}

@include media-breakpoint-up(md) {
  .container{
    max-width: 1250px !important;
  }
}

@include media-breakpoint-down(xl) {
  .container{
    max-width: 1250px !important;
  }
}


@include media-breakpoint-down(md) {
  .delim{
    display: none;
  }

  .logo-area{

    display: flex;
    justify-content: center;
    width: calc(100% - 60px);
    padding-left: 60px;
    align-items: center;

  }
  .new-flex-m{
    text-align: center;
  }

  .logo-area__second{
    display: none;
  }
}

.padder-main-row{
  padding-top: 20px;
}

.teaser_text{
  background-color: #5f89cc;
  position: relative;
  bottom: 0;
  padding: 14px;
  // left: 5%;
  font-size: 1.2em;
  // right: 10%;
  margin-top: -40px;
  z-index: 999;
  min-height: 84px;
  width: 100%;
  color: #fff;
  box-shadow: 0 0 13px #00000059;
  font-weight: 600;
}

.teaser_image:hover .teaser_text{
  color: #000;
  background-color: #e0e0e0;
  text-decoration: none;
}
.teaser_image:hover a{
  text-decoration: none !important;
}

.top-images{
  width: 100%;
  img{
    width: 100%;
  }
}

.over-card-new{
  transition: 0.3s;
  img{
    width: 100%;
  }
  .lk_text-yellow-area{
    color: #252525;
    outline: none !important;
    height: 70px;
    font-size: 1.1em;
    
  }
  a{
    text-decoration: none;
  }
  .lk_text-yellow-area:first-letter {
    font-weight: 700;
    font-size: 1.1em;
    color: #252525;
    transition: .4s;
  }
  .btn{
    margin-top: 12px;
    background: transparent;
    color: #28a745;
  }
  .btn:hover{
    background: #28a745;
    color: #fff;
  }
  padding: 12px 12px 12px 12px;
}

.over-card-new:hover{
  background-color: #e2e2e2 !important;
}

.right-area{
  width: 100%;
    background-color: #e2e2e2;
    a{
      text-decoration: none;
    }
  h3{
    margin: 0;
    padding: 12px;
    color: #3c3c3c;
    transition: .4s;
  }
}


.ra__card{
  padding-top: 7px;
  padding-bottom: 7px;
  transition: 0.3s;
  background-color: #fff;
  a{
    display: flex;
    font-size: 12px;
    margin-top: 0;
  }
  .img-wrap{
    width: 100px;
  }
  .ra_cardtext{
    padding-left: 10px;
   color: #252525;
  }
}

.ra__card:hover{
  background-color: #e2e2e2;
}

.btn-to-top {
  width: 40px;
  height: 40px;
  padding: 10px 16px;
  border-radius: 10px;
  font-size: 22px;
  line-height: 22px;
  cursor: pointer;
  transition: all .3s ease-in-out;
  background: #898f97;
  border: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-to-top i{
  padding-bottom: 5px;
  color: #fff;
  position: fixed;
}
.btn-to-top:hover{
  background: #252525;
}

.overboot{
  .col-sm-12{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

.news-solo{
  img{
    width: 100%;
  }

  .news-solo__teaser{
    h3{
      color: #000;
      font-size: 26px;
      line-height: 1.1;
      font-weight: 700;
      padding: 5px 0px 5px 28px;
    }
  }

  .teaser-title{
    background-color: $maingeen;
    transition: all .2s ease-in-out;
    cursor: pointer;
    img{
      max-width: 118px !important;
      padding: 10px 10px 10px 10px;
    }
    .title-area{
      display: flex;
      align-items: center;
    }

    div{
      color: #3b5998;
      font-size: 16px !important;
    }
  }
  .teaser-title:hover{
    background-color: #fff3e6 !important;
    background: #e2e2e2 !important;
  }
  .teaser{
    p{
      padding-top: 15px;
      padding-bottom: 15px;
      font-size: 16px !important;
    }
  }
}

.social-link{
  display: flex;
  justify-content: center;
  .icon-fromsolo{
    cursor: pointer;
    width: 24px;
    height: 24px;
    background-color: #48729e;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 3px;
    margin-left: 2px;
    margin-right: 2px;
    i{
      font-size: 16px;
    }
  }
  .vk-icon{
    background-color: #48729e;
    i{
      color: #fff;
    }

  }
  .vk-icon:hover{
    background-color: #aacef5;
  }

  .ok-icon{
    background-color: #eb722e;
    i{
      color: #fff;
    }
  }
  .ok-icon:hover{
    background-color: #e9ae8c;
  }
  .fb-icon{
    background-color: #3b5998;
    i{
      color: #fff;
    }
  }
  .fb-icon:hover{
    background-color: #99a8c9;
  }
  .viber-icon{
    background-color: #7b519d;
    i{
      color: #fff;
    }
  }
  .viber-icon:hover{
    background-color: #a58bbb;
  }
  .whats-icon{
    background-color: #65bc54;
    i{
      color: #fff;
    }
  }
  .whats-icon:hover{
    background-color: #96c48c;
  }
  .telegram-icon{
    background-color: #64a9dc;
    i{
      color: #fff;
    }
  }
  .telegram-icon:hover{
    background-color: #84b5da;
  }
  .twitter-icon{
    background-color: #00aced;
    i{
      color: #fff;
    }
  }
  .twitter-icon:hover{
    background-color: #46b9e2;
  }
  .skype-icon{
    background-color: #00aff0;
    i{
      color: #fff;
    }
  }
  .skype-icon:hover{
    background-color: #68c3e4;
  }
}

.more-read{
  margin-top: 10px;
  margin-bottom: 10px;
  h5{
    
    color: #3b5998;
    font-size: 1.25rem;
  }
  img{
    max-width: 137px;
  }
  .more-read__solo{
    margin-top: 6px;
    background-color: $maingeen;
    transition: background-color 0.2s ease-in-out;
    padding-top: 10px;
    padding-bottom: 10px;
    .container{
      display: flex;
      align-items: center;
    }
  }
  .more-read__solo:hover{
    background-color: #e2e2e2;
  }
  .more-read__solo-area{
    margin-left: 14px;
    display: flex;
    flex-direction: column;
    a{
      text-decoration: none;
      font-size: 15px;
      line-height: 1.3;
      color: #3b5998;
      
    }
    .btn{
      // background-color: #ff7918 !important;
      color: #fff;
      // border: 1px solid #ff7918 !important;
      max-width: 104px;
      margin-top: 10px;
    }
    .btn:hover{
      background-color: #bd5408 !important;
    }
  }
}

.lefar-card{
  border-right: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;
  background-color: $maingeen;
  padding: 20px 20px 10px 20px;
  cursor: pointer;
  
  @include media-breakpoint-up(lg) {
    height: 100%;
  }
  img{
    width: 100%;
  }
  a{
    text-decoration: none;
  }
  p{
    margin: 10px 0;
    font-size: 16px;
    line-height: 1.3;
    color: #3b5998;
    min-height: 88px;
  }
}

.lefar-card:hover{
  background-color: #e2e2e2;
}
.solo-page{
    
  @include media-breakpoint-up(lg) {
    .newsupx{
      height: 100%;
      .col-sm-12{
        height: 100%;
      }
    }
  }
  @include media-breakpoint-down(md) {
    .article-sb{
      display: none;
    }
  }

  @include media-breakpoint-up(lg) {
    .article-sb2{
      display: none;
    }
  }


  .col-sm-12{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .row{
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .btn{
    // background-color: #ff7918 !important;
    color: #fff;
    // border: 1px solid #ff7918 !important;
    max-width: 104px;
    margin-top: 5px;
  }


  .btn:hover{
    // background-color: #bd5408 !important;
  }
  .btn-to-top{
    background-color: #898f97 !important;
    border: 0px solid #ff7918 !important;
  }
  .btn-to-top:hover{
    background-color: #252525 !important;;
  }
  .col-sm-6{
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}



.width-card{
  padding: 10px 10px 10px 30px;
  border-bottom: 1px solid #ebebeb;
  transition: background-color 0.2s ease-in-out;
  display: flex;
  align-items: center;
  img{
    // width: 137px;
  }
  a{
    color: #3b5998;
    text-decoration: none;
    font-size: 15px;
    line-height: 1.3;
  }
  .wc-content{
    display: flex;
    flex-direction: column;
    padding-left: 8px;
    min-height: 97px;
    justify-content: space-around;
  }
}

.width-card:hover{
  background-color: #e2e2e2;
}

.lk-revelation{
  padding: 20px 30px 10px 30px;
  background-color: $maingeen;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  img{
    width: 100%;
    height: 130px;
    min-height: 130px;
    object-fit: cover;
    object-position: center;
  }
  a{
    color: #3b5998;
    text-decoration: none;
  }

}

.lk-revelation:hover{
   color: #3b5998;
}

.lk-revelation__title{
  @include media-breakpoint-up(lg) {
    min-height: 92px;
  }
}

.overflow-page{
  overflow: auto;
  max-height: 918px;
  position: relative;


  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */
}

.overflow-page::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

.sidebar{
  @include media-breakpoint-up(md) {
    position: -webkit-sticky;
    position: sticky;
  }

  bottom: 1rem;
  align-self: flex-end;
}

.yllow-area{
  border-bottom: 1px solid #ebebeb;
  background-color: $maingeen;
  padding: 10px 0px 10px 0px;
  
  .yllow-card{
    padding: 10px 10px 10px 10px;
    min-height: 106px;
    width: 100%;
    img{
      width: 108px !important;
    }
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  a{
    padding-left: 10px;
    text-decoration: none;
    color: #3b5998;
  }
  .yllow-card:hover{
    transition: all .2s ease-in-out;
    background: #e2e2e2 !important;
  }
}

.new-srow__back{
  .lefar-card{
    background-color: #fff;
  }
  a{
    text-decoration: none;
  }
}

.prenewsaa{
  text-decoration: none;
  color: #fff;
}

.prenewsaa:hover{
  text-decoration: none;
  color: #fff;
}
.prenews{
  
  position: relative;
  .titletoppreviewmain{
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 20px 30px;
    color: #FFF;
    font-size: 26px;
    line-height: 1.1;
    font-weight: 700;
    z-index: 1;
    bottom: 0;
  }
  .descrippreview {
    font-size: 14px;
    margin: 5px 0 10px;
    font-weight: 500;
  }
  .prenews{
    position: relative;
  }

}

.prenews:after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0.9) 100%);
}